.DS_Store
/data/
/results/
/code/Mashhadi/lidar_test_raymobtime.npz
/code/Mashhadi/lidar_train_raymobtime.npz
/code/Mashhadi/lidar_validation_raymobtime.npz
/code/__pycache__/
/code/__pycache__/pre_process_lidar.cpython-310.pyc
venv/