.DS_Store
/data/
/results/
/code/Mashhadi/lidar_test_raymobtime.npz
/code/Mashhadi/lidar_train_raymobtime.npz
/code/Mashhadi/lidar_validation_raymobtime.npz
/code/__pycache__/
/code/__pycache__/pre_process_lidar.cpython-310.pyc
venv/
/code/batool/models/best_weights.coord.h5
/code/batool/models/best_weights.lidar.h5
/code/batool/models/best_weights.coord_lidar.h5